@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body{
    min-width: 500px;
    width : 500px;
}

table{
    min-width: 500px;
}

table th{
    vertical-align: middle;
}

table th:first-child{
    max-width: 10px;
    width: 5px;
    text-align: center;
}

table th:nth-child(3){
    max-width: 50px;
    width: 30px;
}

table th:last-child, td:last-child{
    text-align: right;
    max-width: 70px !important;
    width: 70px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

a{
    text-decoration: none;
}

a.menu-selected{
    color: #000066;
    text-decoration: underline;
}

.pure-g label{
    letter-spacing: normal !important;
}

.ads_container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}